

<div class="fondoGrid">

    <div class="banderaGrid">
        <div class="amarillo"></div>
        <div class="blanco"></div>
        <div class="azul"></div>
        <div class="rojo"></div>
    </div>
    <h1>NAPO</h1>

    <div class="rec1" id="rec1">
        <div class= "img"><img src="assets/antisana.webp"></div>
        <div class="text">
            <h2>Antisana</h2>
            <p>Nevado de la cordillera oriental</p>
        </div>
    </div>

    <div class="rec2" id="rec2">
        <div class= "img"><img src="assets/jumandy.jpg"></div>
        <div class="text">
            <h2>Cuevas de Jumandy</h2>
            <p>Profundas cuevas llenas de agua</p>
        </div>
    </div>

    <div class="rec3" id="rec3">
        <div class="img"><img src="assets/jatunyacu.png"></div>
        <div class="text">
            <h2>Rio Jatunyacu</h2>
            <p>Aclamando para practicar el rafting</p>
        </div>
    </div>

    <div class="baner"><img src="assets/napo.jpg" id="baner"></div>

</div> 
